*,
*:before,
*:after {
    box-sizing: border-box;
}

.calendar {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    width: 100%;
    margin: 0 auto;
    display: block;
    overflow: hidden;
}

#calendarclear {
    position: fixed;
    height: 1em;
    width: 1em;
    top: 0;
    left: 0;
    margin: .2em;
    filter: brightness(75%) !important;
    cursor: pointer;
    z-index: 8000;
}

.calendar .header {
    height: 50px;
    width: 100%;
    color: #fff;
    text-align: center;
    position: relative;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding-top: .5em;
    padding-bottom: .5em;
    height: 100%;
    cursor: default;
}

.calendar .header .month {
    opacity: 1;
    text-align: center;
    /* CHANGE ME: */
    padding: 0px 40px;
    font-size: 1.5em;
    margin-bottom: 0px;
    font-weight: normal;
}

.calendar .header .year {
    text-align: center;
    padding: 0px 40px;
    font-size: 1em;
    color: grey;
    font-weight: 600;
}

.calendar .header h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 50px;
    font-weight: 100;
    letter-spacing: 1px;
}

.calendar .legend {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
    border: 1px solid #E9E9E9;
    line-height: 30px;
}

.left,
.right {
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    top: 50%;
    margin-top: -7.5px;
    cursor: pointer;
}

.left {
    border-width: 7.5px 10px 7.5px 0;
    border-color: transparent grey transparent transparent;
    left: 20px;
}

.right {
    border-width: 7.5px 0 7.5px 10px;
    border-color: transparent transparent transparent grey;
    right: 20px;
}

.month {
    /*overflow: hidden;*/
    opacity: 0;
    transition: all 0.4s ease;
}

.month.new {
    animation: fadeIn .4s ease-out;
    -webkit-animation: fadeIn .4s ease-out;
    opacity: 1;
}

.month.in.next {
    -webkit-animation: moveFromLeftFadeMonth 0.2s ease-out;
    -moz-animation: moveFromLeftFadeMonth 0.2s ease-out;
    animation: moveFromLeftFadeMonth 0.2s ease-out;
    opacity: 1;
}

.month.in.prev {
    -webkit-animation: moveFromRightFadeMonth 0.2s ease-out;
    -moz-animation: moveFromRightFadeMonth 0.2s ease-out;
    animation: moveFromRightFadeMonth 0.2s ease-out;
    opacity: 1;
}

.month.out.next {
    -webkit-animation: moveToRightFadeMonth 0.2s ease-in;
    -moz-animation: moveToRightFadeMonth 0.2s ease-in;
    animation: moveToRightFadeMonth 0.2s ease-in;
    opacity: 1;
}

.month.out.prev {
    -webkit-animation: moveToLeftFadeMonth 0.2s ease-in;
    -moz-animation: moveToLeftFadeMonth 0.2s ease-in;
    animation: moveToLeftFadeMonth 0.2s ease-in;
    opacity: 1;
}

.week-days {
    padding: .2em 0px;
    border: 0;
    font-weight: 600;
}

.week-days .day {
    cursor: default;
}

.day {
    display: inline-block;
    width: -webkit-calc(14.28571429%);
    width: calc(14.28571429%);
    padding: .4em;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    position: relative;
    z-index: 100;
}

.day.other {
    font-size: .80em;
    color: grey;
}

.day.today {
    color: #428bca;
    font-weight: 600;
}

.day-name {
    font-size: 9px;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 0.7px;
}

.day-number {
    font-size: 1em;
    letter-spacing: 1.5px;
}

.blue {
    background: #9ccaeb;
}

.orange {
    background: #f7a700;
}

.green {
    background: #99c66d;
}

.yellow {
    background: #f9e900;
}

.pink {
    background: #FF009B;
}

.events {
    padding: 7px 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.events.in {
    -webkit-animation: fadeIn 0.3s ease both;
    -moz-animation: fadeIn 0.3s ease both;
    animation: fadeIn 0.3s ease both;
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.details.out .events {
    -webkit-animation: fadeOutShrink 0.4s ease both;
    -moz-animation: fadeOutShink 0.4s ease both;
    animation: fadeOutShink 0.4s ease both;
}

.events.out {
    -webkit-animation: fadeOut 0.3s ease both;
    -moz-animation: fadeOut 0.3s ease both;
    animation: fadeOut 0.3s ease both;
}

.event {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.5px;
    padding: 2px 16px;
    vertical-align: top;
}

.event.empty {
    color: #eee;
}

.event span {
    display: inline-block;
    padding: 0 0 0 7px;
}

.event-category {
    height: 10px;
    width: 10px;
    display: inline-block;
    margin: 8px 0 0;
    vertical-align: top;
}

.legend {
    bottom: 0;
    width: 100%;
    background: #fff;
    border: 1px solid #E9E9E9;
    line-height: 30px;
}

.entry {
    position: relative;
    padding: 0 0 0 25px;
    font-size: 13px;
    display: inline-block;
    line-height: 30px;
    background: transparent;
}

.entry:after {
    position: absolute;
    content: '';
    height: 5px;
    width: 5px;
    top: 12px;
    left: 14px;
}

.entry.blue:after {
    background: #9ccaeb;
}

.entry.orange:after {
    background: #f7a700;
}

.entry.green:after {
    background: #99c66d;
}

.entry.yellow:after {
    background: #f9e900;
}

/* slide out to the left */

@keyframes slideOutLeft {
    to {
        transform: translateX(-200%);
    }
}

@-moz-keyframes slideOutLeft {
    to {
        -moz-transform: translateX(-200%);
    }
}

@-webkit-keyframes slideOutLeft {
    to {
        -webkit-transform: translateX(-200%);
    }
}

/* slide in from the right */

@keyframes slideInRight {
    from {
        transform: translateX(200%);
    }

    to {
        transform: translateX(0);
    }
}

@-moz-keyframes slideInRight {
    from {
        -moz-transform: translateX(200%);
    }

    to {
        -moz-transform: translateX(0);
    }
}

@-webkit-keyframes slideInRight {
    from {
        -webkit-transform: translateX(200%);
    }

    to {
        -webkit-transform: translateX(0);
    }
}

@-webkit-keyframes moveFromTopFade {
    from {
        opacity: 0.3;
        height: 0px;
        margin-top: 0px;
        -webkit-transform: translateY(-100%);
    }
}

@-moz-keyframes moveFromTopFade {
    from {
        height: 0px;
        margin-top: 0px;
        -moz-transform: translateY(-100%);
    }
}

@keyframes moveFromTopFade {
    from {
        height: 0px;
        margin-top: 0px;
        transform: translateY(-100%);
    }
}

@-webkit-keyframes moveToTopFade {
    to {
        height: 0px;
        margin-top: 0px;
        opacity: 0.3;
        -webkit-transform: translateY(-100%);
    }
}

@-moz-keyframes moveToTopFade {
    to {
        height: 0px;
        -moz-transform: translateY(-100%);
    }
}

@keyframes moveToTopFade {
    to {
        height: 0px;
        transform: translateY(-100%);
    }
}

@-webkit-keyframes moveToTopFadeMonth {
    to {
        opacity: 0;
        -webkit-transform: translateY(-30%) scale(0.95);
    }
}

@-moz-keyframes moveToTopFadeMonth {
    to {
        opacity: 0;
        -moz-transform: translateY(-30%);
    }
}

@keyframes moveToTopFadeMonth {
    to {
        opacity: 0;
        -moz-transform: translateY(-30%);
    }
}

@-webkit-keyframes moveFromTopFadeMonth {
    from {
        opacity: 0;
        -webkit-transform: translateY(30%) scale(0.95);
    }
}

@-moz-keyframes moveFromTopFadeMonth {
    from {
        opacity: 0;
        -moz-transform: translateY(30%);
    }
}

@keyframes moveFromTopFadeMonth {
    from {
        opacity: 0;
        -moz-transform: translateY(30%);
    }
}

@-webkit-keyframes moveToBottomFadeMonth {
    to {
        opacity: 0;
        -webkit-transform: translateY(30%) scale(0.95);
    }
}

@-moz-keyframes moveToBottomFadeMonth {
    to {
        opacity: 0;
        -webkit-transform: translateY(30%);
    }
}

@keyframes moveToBottomFadeMonth {
    to {
        opacity: 0;
        -webkit-transform: translateY(30%);
    }
}

@-webkit-keyframes moveToLeftFadeMonth {
    to {
        opacity: 0;
        -webkit-transform: translateX(-200%) scale(0.95);
    }
}

@-moz-keyframes moveToLeftFadeMonth {
    to {
        opacity: 0;
        -webkit-transform: translateX(-200%);
    }
}

@keyframes moveToLeftFadeMonth {
    to {
        opacity: 0;
        -webkit-transform: translateX(-200%);
    }
}

@-webkit-keyframes moveToRightFadeMonth {
    to {
        opacity: 0;
        -webkit-transform: translateX(200%) scale(0.95);
    }
}

@-moz-keyframes moveToRightFadeMonth {
    to {
        opacity: 0;
        -webkit-transform: translateX(200%);
    }
}

@keyframes moveToRightFadeMonth {
    to {
        opacity: 0;
        -webkit-transform: translateX(200%);
    }
}

@-webkit-keyframes moveFromBottomFadeMonth {
    from {
        opacity: 0;
        -webkit-transform: translateY(-30%) scale(0.95);
    }
}

@-moz-keyframes moveFromBottomFadeMonth {
    from {
        opacity: 0;
        -webkit-transform: translateY(-30%);
    }
}

@keyframes moveFromBottomFadeMonth {
    from {
        opacity: 0;
        -webkit-transform: translateY(-30%);
    }
}

@-webkit-keyframes moveFromLeftFadeMonth {
    from {
        opacity: 0;
        -webkit-transform: translateX(-200%) scale(0.95);
    }
}


@keyframes moveFromLeftFadeMonth {
    from {
        opacity: 0;
        -webkit-transform: translateX(-200%) scale(0.95);
    }
}

@-webkit-keyframes moveFromRightFadeMonth {
    from {
        opacity: 0;
        -webkit-transform: translateX(200%);
    }

    to {
        opacity: 1;
        -webkit-transform: translateX(0%);
    }
}

@keyframes moveFromRightFadeMonth {
    from {
        opacity: 0;
        -webkit-transform: translateX(200%);
    }

    to {
        opacity: 1;
        -webkit-transform: translateX(0%);
    }
}

@-webkit-keyframes moveToRightFadeMonth {
    to {
        opacity: 1;
        -webkit-transform: translateX(200%);
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOutShink {
    to {
        opacity: 0;
        padding: 0px;
        height: 0px;
    }
}

@-moz-keyframes fadeOutShink {
    to {
        opacity: 0;
        padding: 0px;
        height: 0px;
    }
}

@keyframes fadeOutShink {
    to {
        opacity: 0;
        padding: 0px;
        height: 0px;
    }
}
