body {
    margin: 0;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: #252525;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #252525;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #252525;
}


/*Elements below need to be uploaded to http://feed.mikle.com into your ticker widget settings under "custom .css" */

#fw-feed-items .fw-feed-item-title {
    margin: 0;
    padding-left: 15px;
    color: #aeb0b3;
    line-height: inherit;
    font-size: 15px;
    display: table-cell;
    word-wrap: break-word;
    max-width: 90vw;
    vertical-align: middle;
}

#fw-feed-items .fw-feed-item-content-module {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 60px;
    display: table;
    width: auto;
}

#fw-feed-items .fw-feed-item {
    margin: 0;
    clear: both;
    padding: 0;
}
