body {
    margin: 0;
}

#fw-container {
    max-width: 700px;
    margin-top: 30px;
    height: 66px;
    padding-left: 10px;
    text-align: left;
    font-family: 'Noto Sans', Helvetica, sans-serif;
    /* border: 1px solid #0E4FAE; */
    border-radius: 0px;
    box-sizing: border-box;
    background-color: rgba(21, 21, 21, 0.70);
    vertical-align: middle;
}


/*Elements below NOT WORKING - Can't override feed.mikle.com CSS */

#fw-feed-items .fw-feed-item-title {
    margin: 0;
    padding-left: 15px;
    color: #aeb0b3;
    line-height: inherit;
    font-size: 15px;
    display: table-cell;
    word-wrap: break-word;
    max-width: 90vw;
    vertical-align: middle;
}

#fw-feed-items .fw-feed-item-content-module {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 55px;
    display: table;
    width: auto;
}

#fw-feed-items .fw-feed-item {
    margin: 0;
    clear: both;
    padding: 0;
}
