body {
    margin: 0;
}
#fw-feed-items .fw-feed-item-title {
    margin: 0;
    padding-left: 15px;
    color: #aeb0b3;
    line-height: inherit;
    font-size: 15px;
    display: table-cell;
    word-wrap: break-word;
    max-width: 90vw;
    vertical-align: middle;
}
#fw-feed-items .fw-feed-item-content-module {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 55px;
    display: table;
    width: auto;
}
#fw-feed-items .fw-feed-item {
    margin: 0;
    clear: both;
    padding: 0;
}